*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-image: url(../images/banner-bg.png);
    background-size : cover;
    color           : white;

}

#navbarSupportedContent ul li a {
    color: #fff;
}

.header-layer {
    position: relative;
    top: 15%;
}
.sideImg{
    position: relative;
}
.sideImg img {
    width: 75%;
    position: absolute;
    right: 5%;
    top:5%;
}
.header-content {
    position: relative;
}
.header-content h1{
    position: absolute;
    left: 15%;
    top:5%;
    line-height: 1.2;
    font-weight: bold;
    font-size: 80px;

}
.header-content h1 span{
    color: #000;
}
.header-content p{
    margin-top: 20px;
    position: absolute;
    left: 15%;
    top:50%;
    font-size: 20px;
}
.lineIcon{
    position: absolute;
    left: 8%;
    top:15%
}
.lineMark{
    position: absolute;
    left: 6%;
    top:7%;
}
.lineMark2{
    position: absolute;
    left: 6%;
    top:63%;
}
.btn{
    position: absolute;
    bottom: 5%;
    border-radius: 0%;
    margin: 10px;
}
.btnOne{
    left: 10%;
    background-color: #fff;
    color: #000;
    padding: 7px 40px;
    font-weight: bold;

    
}
.btnTwo{
    left: 23%;
    background-color: #000;
    color: #fff;
    padding: 7px 40px;
    font-weight: bold;
    
}
.btnTwo:hover{
    background-color: #fff;
    color: #000;
}
.btnOne:hover{
    background-color: #000;
    color: rgb(255, 255, 255);

}
.title{
    padding-left: 40px;
}
.title h2{
    font-size:45px;
}
.test{
    background-color: #fee421;
    color:white;
}
.but{
    margin-top:250px;
    background-color: black;
    color: white;
    border:transparent;
    margin-left:10px;
 
}
.img{
    
  width:360px;
}
.caption{
    font-weight: 18px;
    font-weight: bold;
    padding-top:80px;
    padding-left:40px;
}
.text {
    
    text-align: center;
    font-size: 40px;
    color: #080607;
    font-weight: bold;
    margin-top: 20px;
}
.text span
{
    background-color: #fee421;
    color: #fff;
    padding: 0 5px;
}

.carousel-item .items
{
    background-color: #676766;
    margin-top: 60px;
    padding-bottom: 30px;
}
.carousel-item .items h2 {
    padding-top: 20px;
    margin-left: 100px;
    font-size: 26px;
    color: #fff;
}

.carousel-item .items .image{
    
        width: 100%;
        position: relative;
        top:-56px
}
.carousel-item .items p {
  
    font-size: 16px;
    color: #fff;
    margin-left: 100px;
    font-weight: 400;
    padding-top: 20px;
}
 .carousel-control-next,.carousel-control-prev {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}

 .carousel-control-next {
    position: absolute;
    left: 70rem;
    top: 56%;
    background-color: #676766;
}
 .carousel-control-prev {
    position: absolute;
    left: -100px;
    top: 56%;
    background-color: #ffd837;
}
 .carousel-control-prev:hover
{
    background-color: #676766;
}

